<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<HTML>
<HEAD>
 <title>Adrift: tracing the global ocean circulation</title> 
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
 <style type="text/css">
  body {
   background-color: #FFFFFF;
   text-align:left;
   font-family:arial, sans-serif;}
  div {
   background: #FFFFFF;
   font-size: 18px;
   color: #313131;
   font-weight: normal;
   width:790px;
   text-align: justify;
   margin: 10px auto 10px auto;}
  a {
   text-decoration:none;}
  a:link {color: #0000B1} 
  a:visited {color: #0000B1}
  a:hover {color: #515151}
  a:active {color: #0000B1}
 </style>
 <LINK rel="icon" type="image/png" href="favicon.ico">
</HEAD>
<BODY>

<div style="clear: both;padding:0px;margin-bottom:100px;"> </div>
<div style="clear;">
<img alt="Adrift logo" src="../static/adrift_logo.jpg">
</div>
<div style="clear: both;padding:0px;margin-bottom:50px;"> </div>

<div>
Welcome to the webpage for <a href="http://www.adrift.org.au">adrift.org.au</a>. Soon, you will be able to visit this web portal and interactively study the pathways of marine debris and contaminants, as well as learn about the role of the ocean in global climate. 
<p>
We are currently working hard to create our web portal. In the meantime, if you want to know more, then go to <a href="http://www.erik.vansebille.com/science/vansebille2012c.html">www.erik.vansebille.com/science/vansebille2012c.html</a>, where you can get information on the peer-reviewed study on which this portal is based, or watch the <a href="http://youtu.be/M4UK9Yt6A-s">UNSWtv interview on YouTube</a>.
<p>
This project has been funded by the <a href="https://www.climatescience.org.au/">Australian Research Council's Centre of Excellence for Climate System Science</a> and is hosted at the <a href="http://www.nectar.org.au/research-cloud">NeCTAR Research Cloud</a>.
</div>
</BODY>

</HTML>
